body.login {
	background: #262728 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body.login div#login h1 a {
	background: url("../img/logo_navitrans.svg"), #fff;
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 15px;
	padding-top: 20px;
	width: 100%;
	margin-bottom: 0;
}

div#login {
	display: flex;
	width: 80vw;
	max-width: 380px;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	flex-direction: column;
}

div#login h1 {
	display: block;
	width: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

#login .message {
	width: calc(100% - 28px);
	margin-bottom: 0;
}

#login a {
	color: #35caf7;
}

div#login form {
	margin-top: 0 !important;
}

#nav a,
#backtoblog a,
#language-switcher .dashicons {
	color: #ffffff !important;
}

#language-switcher {
	display: none;
}

#loginform {
	border-radius: 0 0 10px 10px;
}
